*{
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    h2{
        font-size: 4.2rem;
        font-weight: bolder;
        color: white;
    }
    h1{
        font-size: 4.3rem;
        font-weight: bolder;
        color: white;
    }
    h6{
        font-size: 1.2rem;
        color: white;
    }
    h3{
        font-size: 2.6rem;
        font-weight: bolder;
        color: white;
    }
    h4{
        font-size: 1.2rem;
        color: white;
    }
}

.background-img{
    opacity: 5;
    height: 100vh;
    width: 100vw;
    img{
        height: 100vh;
        width: 100vw;
    }
}
nav{
    margin-top: -42rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    .left-nav{ 
        align-items: baseline;
        margin-left: 4rem;
        display: flex;
       
            img{
                height: 3rem;
            }
       }

    .right-nav{ 
        ul{
            display: flex;
            margin-right: 17rem;
            li{
                list-style: none;
                padding-right: 2rem;

                a{
                    text-decoration: none;
                    color: white;
                    font-size: 1.2rem;
                    font-weight: bolder;
                }
                img{
                    height: 15px;
                }
            }
        }
       }
    
}

// 
.container{
    margin-left: 4.3rem;
    margin-top: 4rem;
    width: 86vw;
    display: flex;
   .left-container{
    margin-top: 2rem;
       width: 40%;
       h1{}
       .btn{
        margin-top: 3rem;
           border-radius: 2rem;
           height: 3rem;
           padding-left: 1rem;
           padding-top: .4rem;
           width: 12rem;
           font-size: 2rem;
           color: white;
           background-color: rgb(75, 75, 181);
       }
       p{
           width: 30rem;
           margin-top: 2rem;
           color: white;
           line-height: 1.6rem;
       }
   }
   .right-container{
    width: 60%;
    margin-left: 7rem;
       .first{
           h6{}
           h3{}
       }
       .second{
        margin-top: 2rem;

        h6{}
        h3{}
       }
       .third{
        margin-top: 2rem;

        h6{}
        h3{}
       }
       .last{
        margin-top: 4rem;
        
        display: flex;
        justify-content: space-between;
           .img1{
            height: 8rem;
            width: 13rem;
            img{

                border-radius: .4rem;
                height: 100%;
                width: 100%;
            }
           }
           h4{
               margin-top: .6rem;
           }
       }
   }
}

